*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


:root{
     --text: 2rem;
     --head: calc(1rem + 2vw);
}

.hero-section {
    min-height: 100vh;
   
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    color: black
    
}
.navbar ul{
     list-style: none;
}

.navbar ul li {
    display: inline;
    margin-left: 3rem;
    font-size: var(--text);

}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.hero-text{
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   

}

.hero-text a{
    color: white
}

.hero-text{
    font-size: var(--head);
}


   

